<app-header></app-header>
<main>
    <section class="main-section">
        <div class="head-line">
            <h1>Bem-vindo à BrazInvest: Desbravando Caminhos para o Seu Futuro Financeiro</h1>
        </div>
    </section>
    <section>
        
        <img class= "first_img_home" ngSrc="./assets/first_img_home.png"  width="669" height="536" alt="Imagem de storyset no Freepik"/>
        <p>
            Assistencia 24 horas<br>
            Eventos remostos e precensiais<br>
            Modulo de educação financeira para Crianças e adolecentes<br>
            
        </p>
        <span></span>

    </section>
    <app-footer></app-footer>
</main>


    